@import url('reset.css');
@charset "UTF-8";
html { height:100%;}
body {width:100%; min-width:950px; height:auto; padding:0px 0 0px 0px; margin:0px auto 0 auto;
	font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif; background:#fff; text-shadow:0px 0 0.02em;}
div#project	{margin: 0 auto 0 auto; padding:0px 0 0px 0px; width:100%; height:100%;  position:relative; min-width:950px;}

.relative {position:relative;}
.clear {clear:both; float:none !important; float:none; display:block;
	margin:0px;  margin:0px !important;
	padding:0px;  padding:0px !important;
	border:0px; border:0px !important;
	height:0px; height:0px !important;
	width:0px; width:0px !important;
	text-decoration:none; text-indent:-9999px; font-size:0px; line-height:0px; }

.box-float-left {float:left;}
.box-float-right {float:right;}
.margin {margin:0px !important;}

h1, h2, h3, h4, h5, h6 {font-family: Arial, Helvetica, sans-serif; font-weight:normal; color:#303233; font-weight:normal; }
h1 {font-size:36px; line-height:40px; margin:0px 0 16px 0px;}
h2 {font-size:30px; line-height:32px; margin:14px 0 18px 0px;}
h3 {font-size:24px; line-height:26px; margin:14px 0 18px 0px;}
h4 {font-size:16px; line-height:24px; margin:14px 0 18px 0px;}
h5 {font-size:14px; line-height:16px; margin:14px 0 18px 0px;}
h6 {font-size:12px; line-height:14px; margin:14px 0 18px 0px;}

p, ul li, ol li, .download {font-size:12px; line-height:18px; color:#777676; font-family: Tahoma, Geneva, sans-serif;}
p {margin-bottom: 14px;}

a {color:#fa470d; text-decoration:underline;}
a:hover {text-decoration:none;}
a:vlink:hover {text-decoration:none;}


p.box-float-left {margin:0px 24px 0 0px; position:relative;}
p.box-float-right {margin: 0px; padding:0px 0 0px 24px; position:relative;}
p.box-float-left a {border:none;}
p.box-float-left img, p.box-float-right img {display:block; padding: 1px; border: 1px solid #c9c9c9; background:#fff;}
p.box-float-left .caption, p.box-float-right .caption {display:block; margin:0px 0 0px 0px; padding:0px 0 0px 0px;

	font-family:Arial, Helvetica, sans-serif; font-size:16px; line-height:18px; line-height:normal; font-weight:normal; color:#dedede; font-style:normal;

}
p.box-float-right .caption {left:auto; right:0px;}

ul, ol {margin-top:9px; margin-bottom:9px;}

ul {padding:0px 0 0px 0px; display:block; margin-left:17px;}
ul li {margin:0px 0 9px 0px; padding:0px 0 0px 14px; position:relative;
	background:url('../images/li.png') no-repeat scroll 0 8px transparent; list-style:none; background-repeat:no-repeat;}

ol{padding-left:20px; display:block; margin-left:14px;}
ol li {margin:0px 0 9px 0px; padding:0px 0 0px 0px; list-style-type:decimal; background:none; border:none;}
ul li ol {padding-left:32px !important;}

ul li ol {margin:0px; padding-left:29px;}
ul li ul {margin-bottom:0px; margin-left:30px;}
ol li ul li {background:url('../images/li.png') no-repeat scroll 0 8px transparent; list-style:none; list-style-type:none;
	padding-left:14px;}

ol li ul {margin-top:9px; margin-bottom:9px; padding-left:10px;}
ol li ol, ul li ul {margin-top:9px; }

ul li p:last-child, ol li p:last-child {margin-bottom:0px;}

ul li ol li:last-child { margin-bottom:0px;}
ul li ol li ul{ margin-bottom:0px;}
ol li ol {margin-bottom:0px;}


hr {width:100%; height:1px; background:#e8e8e8; margin:0px *font-size:0px;  line-height:0px; border:  none; overflow:hidden; clear:both; display:block;
	margin:0px 0 32px 0px;}

p.box-float-left + ul {display:inline-block;  padding-left:0px;}
p.box-float-left + ol {display:inline-block; padding-left:22px;}


table.data {border:none; margin:0px 0 22px 0px; padding:0px 0 0px 0px; width:100%; }
table.data caption {font-family: Arial, Helvetica, sans-serif; text-align:left;
	font-size:20px; font-weight:bold; line-height:22px; color:#3b4249; margin:0px; padding:0px 0 12px 0px; background:none;}

table.data tr { background:none; border-top:1px solid #d7dadf;}
table.data tr:first-child {border-top:none;}


table.data tr th { vertical-align:top; text-align:left; background:none;
	margin:0px; padding:10px 15px 11px 15px; position:relative;
	font-family:  Arial, Helvetica, sans-serif; font-size:14px; line-height:18px; color:#000; font-weight:bold; letter-spacing:-0.05em;}
table.data tr td { vertical-align:top; text-align:left; background:none;
	margin:0px; padding:10px 15px 11px 15px; position:relative;
	font-family:  Arial, Helvetica, sans-serif; font-size:14px; line-height:18px; color:#3e4f5a;}

table.data tr td, table.data tr td p, table.data tr td ul li, table.data tr td ol li, table.data tr td
	{font-family: Arial, Helvetica, sans-serif; font-size:14px; line-height:18px; font-weight:normal; color:#3e4f5a;}
table.data tr td span {color:#788591; font-weight:normal;}
table.data p:last-child {margin-bottom:0px;}
table.data ol li {margin-bottom:14px;}

table.data + span.caption, table.data + p.caption {
	font-family:Arial, Helvetica, sans-serif; font-size:11px; line-height:14px; color:#393939; font-style:normal; margin:0px 0 0px 0px;  padding:0px;
	border-bottom:none;}


.button, a.button {background:none; border:0px; margin:0px 0 0px 0px; padding:0px 0 0px 0px; cursor:pointer; display:block;
	text-decoration:none; border:none;}
.button span.left, .button span.right {float:left; width:19px; height:36px; display:block; *clear:right; text-indent:-9999px;}
.button span.left, .button span.right, .button span.center
	{background:url(../images/button.png) no-repeat; margin:0px 0 0px 0px; padding:0px;}

.button span.center {float:left; height:53px; *clear:right;}

*+html .button span.left, .button span.right, .button span.center {float:left; clear:right;}

.button span.left {background-position:0px 0px; background-repeat:no-repeat;}
.button span.center {background-position:0px -36px; background-repeat:repeat-x; padding-top:7px; height:29px;}
.button span.right {background-position:0px -72px; background-repeat:no-repeat ;}
/*
.button:hover span.left {background-position:0px -159px; background-repeat:no-repeat;}
.button:hover span.center {background-position:0px -212px; background-repeat:repeat-x; }
.button:hover span.right {background-position:0px -265px; background-repeat:no-repeat ;}

.button:active span.left {background-position:0px -318px; background-repeat:no-repeat;}
.button:active span.center {background-position:0px -371px; background-repeat:repeat-x;}
.button:active span.right {background-position:0px -424px; background-repeat:no-repeat;}
*/
.button span.center {font-family:Arial, Helvetica, sans-serif; font-size:16px; line-height:18px; color:#2e2108; font-weight:bold;
	text-decoration:none; width:auto; text-align:center; text-shadow:1px 1px 1px #fece3b; padding-left: 1px; padding-right:1px;}


.header { margin: 0 auto 26px auto; padding:0px; background:#7c8fa0 url(../images/header-bg.png) repeat-x top center; min-width:950px; width:100%; position:relative;}
.header-bg {min-width:950px; margin: 0 auto 0 auto; padding:0px; background:url(../images/header-bg-center.jpg) no-repeat center top;}
.header-content { width:950px; margin:0px auto 0 auto; padding:0px 0 15px 0px;}

.header#main { background:#465d71 url(../images/header-bg-main.jpg) repeat-x top center;}
.header#main .header-bg {background: url(../images/header-bg-center-main.jpg) no-repeat center top;  min-height:461px;}

.header .header-pattern {width:100%; min-width:950px; height: 11px; margin: 0 auto; padding:0px;  background: url(../images/header-pattern.png) repeat-x center; position:absolute; bottom: 0px; left:0px;}
.header#main .header-pattern {margin: 0 auto; padding:0px;  background: url(../images/header-pattern-main.png) repeat-x center; position:absolute; bottom: -11px; left:0px;}


.header-logo { margin: 0 0px 0 189px; padding: 0px; width:244px; height:112px; float:left;}
.header-logo a, .header-logo img { display:block; margin:0px auto 0 auto; text-decoration: none;}

.header-social { float:left; margin: 72px 0 0px 0px; padding:0px;}
.header-social a { display:block; float:left; margin: 0 9px 0 0px; padding: 0px; width:38px; height:37px; text-indent:-9999px;
	background: url(../images/header-social.png) no-repeat;}
.header-social a.vk { background-position: 0 0px; margin-left:0px;}
.header-social a.facebook { background-position: -38px 0px;}
.header-social a.twitter { background-position: -76px 0px;}

.header-phone { float:right; margin:66px 0 0px 0px; padding:0px;}
.header-phone em , .header-phone span { display:block; float:right; margin:0px;
	font-family:Arial, Helvetica, sans-serif; font-size:35px; line-height:36px; color:#fefefe; font-weight: bold; text-shadow: 1px 1px 0.02em #758696;}
.header-phone em { font-size:20px; margin-right:5px; font-weight: normal; margin-top:-5px;}

.header-menu { text-align: center;}
.header-menu a, .header-menu span {display:inline-block; text-decoration: none; margin:0px 0 0px 0px; padding:0px; height:33px;}
.header-menu a span { background: none;}

.header-menu a span {padding: 0 0px 0 17px;}
.header-menu a span span {padding: 0 17px 0 0px;}
.header-menu a span span span {padding: 0px; padding-top:10px; height:23px;}

.header-menu a.active span, .header-menu a:hover span {background: url(../images/header-menu.png) no-repeat; background-position: 0 0px;}
.header-menu a.active span span, .header-menu a:hover span span { background: url(../images/header-menu-right.png) no-repeat right;}
.header-menu a.active span span span, .header-menu a:hover span span span {background: url(../images/header-menu.png) repeat-x; background-position: 0 -66px;}

.header-menu a { font-family:Arial, Helvetica, sans-serif; font-size:14px; line-height:16px; color:#515f6b;  text-shadow:1px 1px 0.02em #dae4ed;}
.header-menu a.active, .header-menu a:hover, .header-menu a.active:hover {color: #fff; text-shadow:1px 1px 0.02em #d9720c;}

.content { width:950px; margin:0px auto; padding: 0px;}

.title { margin:0px 0 19px 0px; padding:0px;}
.title h2 { margin:0px 0 21px 0px; padding:0px; display:block;
	font-family:Georgia, "Times New Roman", Times, serif; font-size:30px; line-height:30px; color:#303233; font-weight: normal;}
.title a, .title span, .title em { display:block; float:left; font-family: Tahoma, Geneva, sans-serif; font-size:12px; line-height:20px; color:#777676; font-style: normal;}
.title em { margin: 0 7px;}

.prev-next-page { float:right;}
.prev-next-page a, .prev-next-page em, .prev-next-page span { float:right;}
.title hr {background: #e8e8e8; height:1px; border: none; margin:7px 0 0px 0px;}

.tour-operator { margin:0px 0 0px 0px; font-family:Tahoma, Geneva, sans-serif; font-size:16px; line-height:18px; color:#d54747; text-decoration: none;}
a.tour-operator:hover {text-decoration: underline;}
.tour-operator + h4 { margin-top:0px;}

.operator-big-photo { background: url(../images/operator-bg.png) no-repeat; width:403px; height:396px; float:left; margin:26px 35px 0 0px; padding:0px;}
.operator-big-photo a, .operator-big-photo span { display: block; text-decoration: none; margin:14px 0 0px 16px; padding:0px; width:349px; height:194px;}

.operator-mini-photo { float:left; margin:21px 0 0px 0px; padding:0px; width:500px;}
.operator-mini-photo a { display:block; float:left; margin:0px 25px 0 0px; padding:0px;}
.operator-mini-photo a em { font-family:Tahoma, Geneva, sans-serif; font-size:12px; line-height:18px; color:#d54747; font-style: normal;}
.operator-mini-photo a span { display:block; margin:6px 0 0px 0px; padding:0px; border: 1px solid #d3d3d3;
	position:relative; z-index:2;}
.operator-mini-photo a span img { display:block; margin:0px 0 0px 0px; padding:0px;}
.operator-mini-photo a span ins { display:none; position:absolute; z-index:4; width:62px; height:62px; background: url(../images/zoom.png) no-repeat;
	margin: 0 auto; top:50%; margin-top:-32px; left:50%; margin-left:-32px;}

.footer { border-top:1px solid #4b5d6e; width:950px; min-width: 950px; margin:44px auto 0 auto; padding:14px 0 13px 0px;}
.footer-information { float:left; margin:0px 0 0px 0px; padding:0px; width:220px;}
.footer-information p { font-family:Arial, Helvetica, sans-serif; font-size:11px; line-height:16px;  color: #9a9b9c;
	margin:0px 0 11px 0 ; padding:0px;}
.footer-information p a { color:#d54747;}
.footer-logo { float:right; margin:6px 0 0px 0px;}
.footer-logo a, .footer-logo img { display:block; margin:0px 0px; padding:0px; text-decoration: none;}
/* ================================== */
.contacts { min-height: 138px; padding: 0 0px 3px 167px; background: url(../images/contacts.png) no-repeat left top;
	border-bottom: 1px solid #e8e8e8;}
.contacts h4 { font-family:Tahoma, Geneva, sans-serif; margin: 0 0px 15px 0px; padding:0px;}
.contacts p { font-family:Tahoma, Geneva, sans-serif; font-size:12px; line-height:16px; color:#777676;}
.contacts .see-map { font-size:10px; line-height:16px; color:#d54747;}

.decorated-form {margin:42px 0 0px 0px; width:556px; padding:0px 0 0px 0px; border:none; position:relative;}
.decorated-form fieldset {border:none; padding:0px 0 0px 0px; width:100%; margin:0px; background:none;}

.decorated-form h4 { font-family:Arial, Helvetica, sans-serif; font-size:16px; line-height:18px; color:#313131;}

.decorated-form label span
	{ font-family: Tahoma, Geneva, sans-serif; font-size:14px; color:#777676; line-height:16px;
		display:block; margin:9px 0 0px 0px; padding:0px 0 0px 0px; float:left; width:150px;}
.decorated-form label span em {color:#aeaeae; font-style:normal; font-weight:normal;}

.decorated-form label {position:relative; display:block; margin:0px 0 10px 0px; padding:0px; zoom:1;}
.decorated-form input, .decorated-form textarea, .decorated-form select
	{width:311px; height:32px; padding:2px 10px; margin:0px 0 0px 0px; background:#fff; float:right;border:1px solid #c6c6c6;

	font-size:14px; line-height:32px; font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif; color:#667785;

	border-radius: 25px 25px 25px 25px;
	-moz-border-radius: 25px 25px 25px 25px;
	-webkit-border-radius:   25px 25px 25px 25px;
	-khtml-border-radius:25px 25px 25px 25px;

	}
.decorated-form select {width:343px; height:auto; padding-top:8px; padding-bottom:9px; line-height:normal;}
.decorated-form textarea  {height:197px; line-height:normal; resize:none; padding-top:10px; padding-bottom:10px;}
.decorated-form label input:focus, .decorated-form label textarea:focus, .decorated-form label.error input, .decorated-form label.error textarea, .decorated-form label.error select, .decorated-form label select:focus
	{border:1px solid #758095;
	-moz-box-shadow: 0 0px 3px #D5DFE6  inset;/*28%*/
	-webkit-box-shadow: 0 0px 3px #D5DFE6  inset;
	box-shadow: 0 0px 3px #D5DFE6  inset;
}

.decorated-form label.error input, .decorated-form label.error textarea,  .decorated-form label.error select { border: 1px solid #d54747;}


.button-silver {background:none; border:0px; margin:0px 0 0px 0px; padding:0px 0 0px 0px; cursor:pointer; display:inline-block;
	text-decoration:none; border:none;}
.button-silver span.left, .button-silver span.right {float:left; width:14px; height:27px; display:block; *clear:right; text-indent:-9999px;}
.button-silver span.left, .button-silver span.right, .button-silver span.center
	{background:#4d5e6f url(../images/button-silver.png) repeat-x top; margin:0px 0 0px 0px; padding:0px;}

.button-silver span.center {float:left; height:27px; *clear:right;}

*+html .button-silver span.left, .button-silver span.right, .button-silver span.center {float:left; clear:right;}

.button-silver span.left {
	border-radius: 15px 0 0px 15px;
	-moz-border-radius:15px 0 0px 15px;
	-webkit-border-radius: 15px 0 0px 15px;
	-khtml-border-radius: 15px 0 0px 15px;
}

.button-silver span.right {
	border-radius: 0 15px 15px 0px;
	-moz-border-radius:0px 15px 15px 0px;
	-webkit-border-radius: 0 15px 15px 0px;
	-khtml-border-radius:0px 15px 15px 0px;
}
.button-silver span.center { font-family: Tahoma, Geneva, sans-serif; font-size:12px; line-height:18px; color:#fff; padding-top:3px; height:24px;}
.button-silver:hover span.left, .button-silver:hover span.center, .button-silver:hover span.right  { background:#4d5e6f;}

.decorated-form  .button-silver  { margin-left:220px;}


.header-info { margin: 31px 0 0px 0px; padding:0px 0 0px 0px; width:290px; float:right;  text-align: right;}
.header-info.first { float:left;  text-align: left;}
.header-info h3 {display:block; margin:0px 0 11px 0px; padding:0px;
	font-family:Georgia, "Times New Roman", Times, serif; color:#404040; font-weight: normal; text-shadow:1px 1px 0.02em #cdd5dd;}
.header-info a { display:inline-block; margin:0px 0 6px 0px; padding:0px 0 0px 0px;
	font-family:Arial, Helvetica, sans-serif; font-size:17px; line-height:24px; color:#fff; text-shadow:1px 1px 0.02em #758696; font-style: italic;}


.header-info .button-order {display: block;  width:260px; height:111px; background: url(../images/button-order.png) no-repeat; text-indent:-9999px; text-decoration: none;
	margin: 2px -18px 0 0px; padding:0px; float:right;}
.header-info.first .button-order{ float:left; margin-left:-15px; margin-right:0px;}


.about { float:left; width:575px;}
.about h4 {line-height:18px; margin-bottom:14px;}
.about .button-silver { margin-top:6px;}
.about .box-float-left img{ background: none; border: none;}
.why-me { float:right; width:255px;}
.why-me h2, .about h2 {margin-bottom:19px;}
.why-me ul { margin: 0 0px 0 0px; padding:0px ;  list-style-position:inside;}
.why-me ul li{ margin: 0 0px 0 0px; padding:0px 0 0px 0px; list-style-position:inside; background: none; list-style:none inside  url(../images/why-me-li.png);
	line-height:20px;}

.last-works { border-top:1px solid #e8e8e8;}

ul#mycarousel-works {margin:0px auto 0 auto; padding:0px; display:block; width:808px;}
ul#mycarousel-works li {margin:0px 14px 0 0px; background:none; float:left; list-style-type:none; padding:0px; width:260px; *display:inline;
	*overflow:hidden;
	*zoom:1;
	*display:inline;
	*vertical-align:top;
}
.jcarousel-skin-main {margin:27px 0 0px 0px;}
.jcarousel-skin-main .jcarousel-container-horizontal {height:auto; width:808px; padding:0px; margin:0px auto;}
.jcarousel-skin-main .jcarousel-item-horizontal {margin: 0 0px 0 0px;}
.jcarousel-skin-main .jcarousel-direction-rtl .jcarousel-item-horizontal {margin: 0px;}
.jcarousel-skin-main .jcarousel-clip-horizontal { width:808px; margin:0px auto;}

.jcarousel-skin-main .jcarousel-next-horizontal, .jcarousel-skin-main .jcarousel-prev-horizontal {
    top: 51px; position:absolute;  width: 37px; height: 37px; cursor: pointer;}
.jcarousel-skin-main .jcarousel-prev-horizontal {left: -47px;  background: url(../images/arrow.png) no-repeat; background-position:0px 0px;}
.jcarousel-skin-main .jcarousel-next-horizontal {right: -47px; background: url(../images/arrow.png) no-repeat; background-position:-37px 0px; }

.jcarousel-skin-main .jcarousel-next-horizontal:hover {background-position:-37px -37px;}
.jcarousel-skin-main .jcarousel-next-horizontal:active {background-position:-37px -74px;}
.jcarousel-skin-main .jcarousel-next-disabled-horizontal, .jcarousel-skin-main .jcarousel-next-disabled-horizontal:hover {background-position:-37px -74px; cursor:default;}


.jcarousel-skin-main .jcarousel-prev-horizontal:hover {background-position:0px -37px;}
.jcarousel-skin-main .jcarousel-prev-horizontal:active {background-position:0px -74px;}
.jcarousel-skin-main .jcarousel-prev-disabled-horizontal, .jcarousel-skin-main .jcarousel-prev-disabled-horizontal:hover {background-position:0px -74px;  cursor:default;}


ul#mycarousel-works li .works-block-img { border: 1px solid #c7c7c7;}
ul#mycarousel-works li .works-block-img	img, ul#mycarousel-works li .works-block-img a { display:block; margin:0px auto; border:none; text-decoration: none;}
ul#mycarousel-works li .works-block-img	img { border: 1px solid #fff;}
ul#mycarousel-works li .works-block-desc { margin-top:4px;}
ul#mycarousel-works li .works-block-desc p {font-family:Tahoma, Geneva, sans-serif; font-size:12px; line-height:18px;}

.last-works {padding-top:35px;}
.last-works hr { margin: 30px 0 0px 0px; padding:0px 0 0px 0px;}
.last-works h2 {margin-top:2px;}
.last-works .button-silver {margin: -13px auto 13px auto;}
.last-works .cr {text-align: center;}

.last-promotion {margin: 0 0px 0 0px;}

.last-promotion-banner { width:251px; height: 206px; padding: 1px; border: 1px solid #e3e3e3; float:right; margin-top:25px;}
.last-promotion-content { float:left; margin:0px 0 0px 0px; padding:38px 0 20px 0px; width:582px; border-top: 1px solid #e8e8e8;}
.last-promotion.first .last-promotion-content {border-top: none;}
.last-promotion.first .last-promotion-content {padding-top:21px;}
.last-promotion-content h2 { margin: 0 0px 26px 0px;}
.last-promotion-content p {line-height:20px;}
.last-promotion-content a{ font-size:16px; line-height:18px; color:#d54747;}
.last-promotion-content .box-float-left + p {margin:-2px 0 11px 0px;}

.simplemodal-overlay {background: url(../images/simplemodal-overlay.png) repeat;}
a.modalCloseImg, .modal-form-close {background:url(../images/modal-close.png) no-repeat; width:16px; height:16px; display:inline;
	z-index:752; position:absolute; top:6px; right:6px; cursor:pointer;}
a.modalCloseImg { display: none;}
/* =================== */
#basic-modal-order { display:none; background:#fff;
	padding:0px; width:696px; margin: 15px auto;
	border-radius: 20px 20px 0 0px;
	-moz-border-radius:  20px 20px 0 0px;
	-webkit-border-radius: 20px 20px 0 0px;
	-khtml-border-radius: 20px 20px 0 0px;
	}
.basic-modal-order-content { width:628px; padding:30px 34px 31px 34px; margin:15px auto;
	border-radius: 20px 20px 0 0px;
	-moz-border-radius:  20px 20px 0 0px;
	-webkit-border-radius: 20px 20px 0 0px;
	-khtml-border-radius: 20px 20px 0 0px;
}
.basic-modal-order-content h2 {margin: 0 0px 8px 0px;
	font-family:Georgia, "Times New Roman", Times, serif; font-size:30px; line-height: 32px; color:#303233;}
.basic-modal-order-content h4 {font-family:Tahoma, Geneva, sans-serif; font-size:16px; line-height:18px; color:#313131; margin:0px 0 0px 0px;}
.basic-modal-order-content hr {margin: 17px 0 51px 0px;}
.basic-modal-order-content .decorated-form {width:628px; margin:0px 0 0px 0px;}
.basic-modal-order-content .decorated-form label {margin-right:122px;}
.basic-modal-order-content .decorated-form label input, .basic-modal-order-content .decorated-form label textarea {width:321px;}
.basic-modal-order-content .decorated-form textarea {height: 147px;}
.basic-modal-order-content .decorated-form .button-silver {margin-left:161px;}
.decorated-form-pattern {position:absolute; bottom: -37px; left:-34px; margin: 0px;
		width:696px; height: 6px; background: url(../images/decorated-form-pattern.png) repeat-x;}











/*! fancyBox v2.0.4 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-tmp iframe, .fancybox-tmp object {vertical-align: top;	padding: 0;	margin: 0;}
.fancybox-wrap {	position: absolute;	top: 0;	left: 0;	z-index: 1002;}
.fancybox-outer {	padding: 0;	margin: 0;	background: #f9f9f9;	color: #444; text-shadow: none; -webkit-border-radius: 4px; -moz-border-radius: 4px;	border-radius: 4px;}
.fancybox-opened {z-index: 1003;}
.fancybox-opened .fancybox-outer {
	-webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	   -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}
.fancybox-inner {	width: 100%;	height: 100%;	padding: 0;	margin: 0;	position: relative;	outline: none;	overflow: hidden;}
.fancybox-error {	color: #444;   font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;    margin: 0;    padding: 10px;}
.fancybox-image, .fancybox-iframe {	display: block;	width: 100%;	height: 100%;	border: 0;	padding: 0;	margin: 0;	vertical-align: top;}
.fancybox-image {	max-width: 100%;	max-height: 100%;}

#fancybox-loading {	position: fixed;	top: 50%;	left: 50%;	margin-top: -21px;	margin-left: -21px;	width: 42px;	height: 42px;
	background: url('../images/fancybox_loading.gif');	opacity: 0.8;	cursor: pointer;	z-index: 1010;}

.fancybox-close, .fancybox-prev span, .fancybox-next span {	background-image: url('../images/fancybox_sprite.png');}

.fancybox-close {	position: absolute;	top: -18px;	right: -18px;	width: 36px;	height: 36px;	cursor: pointer;	z-index: 1004;}
.fancybox-prev, .fancybox-next {	position: absolute;	top: 0;	width: 40%;	height: 100%;	cursor: pointer;
/*background: transparent url('../images/blank.gif'); helps IE */	z-index: 1003;}
.fancybox-prev {	left: 0;	}
.fancybox-next {	right: 0;}
.fancybox-prev span, .fancybox-next span {	position: absolute;	top: 50%;
	left: -9999px;	width: 36px;	height: 36px;	margin-top: -18px;	cursor: pointer;	z-index: 1003;}

.fancybox-prev span {	background-position: 0 -36px;}
.fancybox-next span {	background-position: 0 -72px;}
.fancybox-prev:hover, .fancybox-next:hover {	visibility: visible;}
.fancybox-prev:hover span {	left: 20px;}
.fancybox-next:hover span {	left: auto;	right: 20px;}

.fancybox-tmp {	position: absolute;	top: -9999px;	left: -9999px;	padding: 0;	overflow: visible;	visibility: hidden;}
#fancybox-overlay {	position: absolute;	top: 0;	left: 0;	overflow: hidden;	display: none;	z-index: 1001;	background: #000;}
.fancybox-title {	visibility: hidden;		font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;	position: relative;	text-shadow: none;	z-index: 1005;}
.fancybox-opened .fancybox-title {	visibility: visible;}
.fancybox-title-float-wrap {	position: absolute;	bottom: 0;	right: 50%;	margin-bottom: -35px;	z-index: 1003;	text-align: center;}

.fancybox-title-float-wrap .child {	display: inline-block;	margin-right: -100%;	padding: 2px 20px;
background: transparent; /* Fallback for web browsers that doesn't support RGBa */
	background: rgba(0, 0, 0, 0.8);
	-webkit-border-radius: 15px;
	   -moz-border-radius: 15px;
			border-radius: 15px;
	text-shadow: 0 1px 2px #222;	color: #FFF;	font-weight: bold;	line-height: 24px;	white-space: nowrap;}
.fancybox-title-outside-wrap {	position: relative;	margin-top: 10px;	color: #fff;}
.fancybox-title-inside-wrap {	margin-top: 10px;}

.fancybox-title-over-wrap {	position: absolute;	bottom: 0;	left: 0;		color: #fff;	padding: 10px;	background: #000;	background: rgba(0, 0, 0, .8);}
#fancybox-buttons {	position: fixed;	left: 0;	width: 100%;	z-index: 1005;}
#fancybox-buttons.top {	top: 10px;}
#fancybox-buttons.bottom {	bottom: 10px;}
#fancybox-buttons ul {	display: block;	width: 170px;	height: 30px;	margin: 0 auto;	padding: 0;	list-style: none;
	background: #111;	-webkit-box-shadow: 0 1px 3px #000,0 0 0 1px rgba(0,0,0,.7),inset 0 0 0 1px rgba(255,255,255,.05);
	-moz-box-shadow: 0 1px 3px #000,0 0 0 1px rgba(0,0,0,.7),inset 0 0 0 1px rgba(255,255,255,.05);
background: #111 -webkit-gradient(linear,0% 0%,0% 100%,from(rgba(255,255,255,.2)),color-stop(.5,rgba(255,255,255,.15)),
	color-stop(.5,rgba(255,255,255,.1)),to(rgba(255,255,255,.15)));
background: #111 -moz-linear-gradient(top,rgba(255,255,255,.2) 0%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.1) 50%,rgba(255,255,255,.15) 100%);
	border-radius: 3px;
}
#fancybox-buttons ul li {	float: left; background:none; list-style-type:none;	margin: 0; border:none;	padding: 0;}
#fancybox-buttons a {	display: block;	width: 30px;	height: 30px;	text-indent: -9999px;	background-image: url('../images/fancybox_buttons.png');
	background-repeat: no-repeat;	outline: none;}
#fancybox-buttons a.btnPrev {	width: 32px;	background-position: 6px 0;}
#fancybox-buttons a.btnNext {	background-position: -33px 0;	border-right: 1px solid #3e3e3e;}
#fancybox-buttons a.btnPlay {	background-position: 0 -30px;}
#fancybox-buttons a.btnPlayOn {	background-position: -30px -30px;}
#fancybox-buttons a.btnToggle {	background-position: 3px -60px;	border-left: 1px solid #111;	border-right: 1px solid #3e3e3e;width: 35px}
#fancybox-buttons a.btnToggleOn {	background-position: -27px -60px;}
#fancybox-buttons a.btnClose {	border-left: 1px solid #111;	width: 38px;	background-position: -57px 0px;}
#fancybox-buttons a.btnDisabled {	opacity : 0.5;	cursor: default;}


















.addClassActive {
	color: red;
}
